<nav class="menu">
  <LinkTo @route="ela" class="menu-index">
    <h1>ELA</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="help" class="menu-help">
      help
    </LinkTo>
    <LinkTo @route="server" class="menu-server">
      server
    </LinkTo>
  </div>
</nav>