<Jumbo>
  <h2>SERVER AND HELP INFO</h2>
  <p>
    Server Machine Credentials : ela-w2019-6 (administrator/Qazxsw*678) <br>
    Server installed location  : C:\Users\Administrator\Desktop\apache-tomcat-9.0.69 <br>
    ELA installed Location     : C:\ManageEngine\gokulraj2\EventLog Analyzer <br>

    If failed message is shown. kindly try manually<br> 
    manual Documents           : https://learn.zoho.com/portal/zohocorp/knowledge/manual/knowledge-base-4/article/steps-to-sync-ela-to-l3c <br>
  </p>
</Jumbo>

<p>Need to go Back?<LinkTo @route="index" u style="color:#f1c40f;" >Click Here!</LinkTo></p>